<section class="contenedor-componente">
    <div class="cardview">
        <div class="cardview-body">
            <form  class="form">
                <div class="contenedor-input">
                    <input type="text" placeholder=" ">
                    <label for="">nombre de la categoria</label>
                    <label for="">Ingrese</label>
                </div>

                <div class="contenedor-botones">
                    <button type="button" >CANCELAR</button>
                    <button type="submit">GUARDAR</button>
                </div>
            </form>
        </div>
    </div>
</section>
