<section class="contenedor-componente">
    <div class="cardview">
        <div class="cardview-header">
            <img src="../../assets/dashboard-empleado-icon-perfil.svg" width="85px" height="85px" alt="">
        </div>

        <form class="form" [formGroup]="clienteFormRegistro" (ngSubmit)="addCliente()">

            <div class="contenedor-input">
                <input type="text" placeholder=" " required formControlName="nombre">
                <label for="">nombre completo</label>
                <label for="">Ingrese</label>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('nombre')?.touched && clienteFormRegistro.get('nombre')?.errors?.['required']">
                    El campo no puede estar en blanco</p>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('nombre')?.touched && clienteFormRegistro.get('nombre')?.errors?.['minlength']">
                    Introduzca un nombre valido</p>
            </div>

            <div class="contenedor-input">
                <input type="email" placeholder=" " required formControlName="correo">
                <label for="">correo electronico</label>
                <label for="">Ingrese</label>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('correo')?.touched && clienteFormRegistro.get('correo')?.errors?.['required']">
                    El campo no puede estar en blanco</p>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('correo')?.touched && clienteFormRegistro.get('correo')?.errors?.['email']">
                    Ingrese correo validocliente
            </div>

            <div class="contenedor-input">
                <input type="tel" placeholder=" " required formControlName="telefono">
                <label for="">numero de teléfono</label>
                <label for="">Ingrese</label>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('telefono')?.touched && clienteFormRegistro.get('telefono')?.errors?.['required']">
                    El campo no puede estar en blanco</p>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('telefono')?.touched && clienteFormRegistro.get('telefono')?.errors?.['minlength'] && !clienteFormRegistro.get('telefono')?.errors?.['pattern']">
                    Introdusca numero valido</p>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('telefono')?.touched && clienteFormRegistro.get('telefono')?.errors?.['maxlength'] && !clienteFormRegistro.get('telefono')?.errors?.['pattern']">
                    Introdusca numero valido, igual a 10 caracteres</p>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('telefono')?.touched && clienteFormRegistro.get('telefono')?.errors?.['pattern']">
                    Solo numeros</p>

            </div>

            <div class="contenedor-input">
                <input type="text" placeholder=" " required formControlName="direccion">
                <label for="">dirección</label>
                <label for="">Ingrese</label>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('direccion')?.touched && clienteFormRegistro.get('direccion')?.errors?.['required']">
                    El campo no puede estar en blanco</p>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('direccion')?.touched && clienteFormRegistro.get('direccion')?.errors?.['minlength']">
                    Introduzca una direccion valida</p>
            </div>

            <div class="contenedor-input">
                <input type="text" placeholder=" " required formControlName="ciudad">
                <label for="">ciudad</label>
                <label for="">Ingrese</label>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('ciudad')?.touched && clienteFormRegistro.get('ciudad')?.errors?.['required']">
                    El campo no puede estar en blanco</p>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('ciudad')?.touched && clienteFormRegistro.get('ciudad')?.errors?.['minlength']">
                    Introduzca un nombre valido</p>

            </div>


            <div class="contenedor-input">
                <input type="text" placeholder=" " required formControlName="estado">
                <label for="">estado</label>
                <label for="">Ingrese</label>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('estado')?.touched && clienteFormRegistro.get('estado')?.errors?.['required']">
                    El campo no puede estar en blanco</p>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('estado')?.touched && clienteFormRegistro.get('estado')?.errors?.['minlength']">
                    Introduzca un nombre valido</p>

            </div>

            <div class="contenedor-input">
                <input type="text" placeholder=" " required formControlName="codigo_postal">
                <label for="">codigo postal</label>
                <label for="">Ingrese</label>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('codigo_postal')?.touched && clienteFormRegistro.get('codigo_postal')?.errors?.['required']">
                    El campo no puede estar en blanco</p>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('codigo_postal')?.touched && clienteFormRegistro.get('codigo_postal')?.errors?.['minlength'] && !clienteFormRegistro.get('codigo_postal')?.errors?.['pattern']">
                    Introdusca codigo postal valido</p>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('codigo_postal')?.touched && clienteFormRegistro.get('codigo_postal')?.errors?.['maxlength'] && !clienteFormRegistro.get('codigo_postal')?.errors?.['pattern']">
                    Introdusca codigo postal valido, igual a 5 caracteres</p>
                <p class="smsError"
                    *ngIf="clienteFormRegistro.get('codigo_postal')?.touched && clienteFormRegistro.get('codigo_postal')?.errors?.['pattern']">
                    Solo numeros</p>

            </div>

            <div class="contenedor-input">
                <input type="text" placeholder=" " formControlName="nota">
                <label for="">nota</label>
                <label for="">Ingrese</label>
            </div>


            <div class="contenedor-botones">
                <button type="button" (click)="irListaCliente()">CANCELAR</button>
                <button type="submit" [disabled]="clienteFormRegistro.invalid">GUARDAR</button>
            </div>

        </form>
    </div>



</section>