<section class="contenedor-componente">
    <div class="cardview">
        <div class="cardview-header">
            <img src="../../assets/dashboard-empleado-icon-perfil.svg" width="85px" height="85px" alt="">
        </div>

        <form class="form" >

            <div class="contenedor-input">
                <input type="text" placeholder="Ingrese nombre completo" required formControlName="nombre">
                <label for="">Nombre</label>
                </div>
    
            <div class="contenedor-input">
                <input  type="email" placeholder="Ingrese correo electronico" required formControlName="correo">
                <label for="">Correo</label>
                </div>
    
            <div class="contenedor-input">
                <input type="tel" placeholder="Ingrese numero de telefono" required formControlName="telefono">
                <label for="">Teléfono</label>
                   </div>

                   <div class="contenedor-input">
                    <input type="text" placeholder="Ingrese dirección" required formControlName="direccion">
                    <label for="">Dirección</label>
                    </div>

                    <div class="contenedor-input">
                        <input type="text" placeholder="Ingrese ciudad" required formControlName="ciudad">
                        <label for="">Ciudad</label>
                        </div>
            
                        
                            <div class="contenedor-input">
                                <input type="text" placeholder="Ingrese estado" required formControlName="estado">
                                <label for="">Estado</label>
                                </div>

                                <div class="contenedor-input">
                                    <input type="text" placeholder="Ingrese codigo postal" required formControlName="codigo_postal">
                                    <label for="">Codigo postal</label>
                                    </div>

                                    <div class="contenedor-input">
                                        <input type="text" placeholder="Ingrese nota" required formControlName="nota">
                                        <label for="">Nota</label>
                                        </div>
    
            
            <div class="contenedor-botones">
                <button >CANCELAR</button>
                <button type="submit" >GUARDAR</button>
            </div>
                
        </form>    
    </div>

    

</section>
