<section class="contenedor-componente">
    <div class="cardview" >

        <!--SOLO SE MUESTRA CUANDO NO HAY CLIENTES REGISTRADOS-->
        <div class="cardview-content" *ngIf="!articulosDisponibles">
            <div class="contenedor-img">
                <img src="https://r.loyverse.com/dashboard/images/ic_shopping_basket_black_24px1830b449e7e09deaf1d6.svg" alt="">
            </div>
            <h1>Artículos</h1>
            <p>Aquí puedes administrar tus artículos.</p>
            <button class="l-btn-d" (click)="irAgregarArticulo()">+ AGREGAR ARTÍCULO</button>
        </div>

        <div class="cardview-header" *ngIf="articulosDisponibles">
            <button class="l-btn-d" (click)="irAgregarArticulo()">+ AGREGAR ARTÍCULO</button>
        </div>

        <div class="cardview-body" *ngIf="articulosDisponibles">
            <div class="header-table">
                <div>Nombre</div>
                <div>Categoría</div>
                <div>Precio</div>
                <div>Coste</div>
                <div>En stock</div>
                <div></div>
            </div>
            <div class="body-table">
                <div class="contenedor-element-table" *ngFor="let articulo of articulos" (click)="irEditarArticulo(articulo.id)">
                    <div> {{articulo.nombre}} </div>
                    <div> {{articulo.nombre_categoria}} </div>
                    <div> ${{articulo.precio}} </div>
                    <div> ${{articulo.coste}} </div>
                    <div> {{articulo.stock}} </div>

                    
                    <div *ngIf="articulo.stock <= 0" style="color: var(--ColorDanger); font-weight: 500;"> No disponible en inventario </div>
                    <div *ngIf="articulo.stock <= articulo.stock_bajo && articulo.stock > 0 && articulo.stock_bajo != null" style="color: var(--ColorWarning);font-weight: 500;"> Inventario bajo </div>
                </div>
            </div>
        </div>
    </div>
</section>

