<section class="app-inicio-sesion">
    <div class="contenedor-inicio-sesion">
        <form class="form-inicio-sesion">
            <p class="logo">LOAL</p>
            <h1>Inicie sesión en su cuenta de LOAL</h1>
            <div class="conetenedor-input">
                <input type="text" placeholder="Ingrese correo electronico">
                <label for="">Correo</label>
            </div>
            <div class="conetenedor-input">
                
                <input type="text" placeholder="Ingrese contraseña">
                <label for="">Contraseña</label>
            </div>
            <div class="contenedor-botones">
                <label>
                    <input type="checkbox"> Recuerdame
                </label>
                <button (click)="irDashboard()">INICIAR SESÍON</button>
            </div>
            <div class="contenedor-enlases">
                <a  >¿Has olvidado la contraseña?</a>
                <a routerLink="/signup">¿Nuevo en LOAL?</a>

            </div>
        </form>    
    </div>
</section>
