<section class="contenedor-componente">
    <div class="cardview">
         <!--SOLO SE MUESTRA CUANDO NO HAY CATEGORIAS REGISTRADAS-->
         <div class="cardview-content" *ngIf="!categoriasDisponibles">
            <div class="contenedor-img">
                <img src="https://r.loyverse.com/dashboard/images/ic_category_18pxf144903da087bd5fc838.svg" alt="">
            </div>
            <h1>Categorías</h1>
            <p>Las categorias te ayudan a organizar artículos.</p>
            <button class="l-btn-d" (click)="irComponenteAddCategoria()">+ AGREGAR CATEGORÍA</button>
        </div>

        <div class="cardview-header" *ngIf="categoriasDisponibles">
            <button class="l-btn-d" (click)="irComponenteAddCategoria()">+ AGREGAR CATEGORÍA</button>
        </div>
        <div class="cardview-body" *ngIf="categoriasDisponibles">
            <div class="header-table">
                <div>Nombre</div>
            </div>
            <div class="body-table">
                <div class="contenedor-element-table" *ngFor="let categoria of categoriaArticulo" (click)="editarCategoria(categoria.id)">
                    <div>{{categoria.nombre}} <br> 2 articulos</div>

                </div>
            </div>
        </div>
    </div>
</section>