<section class="contenedor-componente">
    <div class="cardview">
        <div class="cardview-header">
            <button class="l-btn-d" (click)="irComponenteAddCategoria()">+ AGREGAR CATEGORÍA</button>
        </div>
        <div class="cardview-body">
            <div class="header-table">
                <div>Nombre</div>
            </div>
            <div class="body-table">
                <div class="contenedor-element-table" *ngFor="let categoria of categoriaArticulo">
                    <div>{{categoria.nombre}} <br> 2 articulos</div>

                </div>
            </div>
        </div>
    </div>
</section>