.contenedor-lista-empleados {
    width:calc(100% - 0px);
    height:calc(100% - 48px);
    padding: 24px 24px 15px 96px;
    overflow: auto;
}

.contenedor-componente .cardview {
    max-width: 810px;
}

.contenedor-lista-empleados 
.cardview-lista-empleados
.cardview-header {
    height: 66px;
    padding: 0 24px;
    display: flex;
    align-items:flex-end;
}

.contenedor-lista-empleados 
.cardview-lista-empleados
.cardview-header
button {
    width: 173px;
    min-width: 173px;
    font-size:calc(var(--SizeDescripcion) + 2px);
    height: 36px;
    border-radius: var(--BorderRadius);
    color: var(--ColorPrincipal);
    background-color: var(--ColorSecundario);
    cursor: pointer;
    font-weight: 600;
    transition: all .3s;
}
.contenedor-lista-empleados 
.cardview-lista-empleados
.cardview-header
button:hover {
    box-shadow: 0 1px 5px rgb(0 0 0 / 40%);
    opacity: .9;
}

/*ESTILO DE CUERPO DE CARDVIEW DONDE ESTARA LA TABLA CON LOS DATOS*/
.contenedor-lista-empleados 
.cardview-lista-empleados
.cardview-body {
    position: relative;
    width: 100%;
    overflow-x: auto;
   padding: 20px 0 0 0;
    
}
.contenedor-lista-empleados 
.cardview-lista-empleados
.cardview-body
.header-table {
    width: 100%;
    min-width: 710px;
    height: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: var(--Border) solid var(--ColorFondo);
    padding: 0 24px;
    
}
.contenedor-lista-empleados 
.cardview-lista-empleados
.cardview-body
.header-table
div {
    display: flex;
    align-items: center;
    font-size:calc(var(--SizeDescripcion) + 2px);
    font-weight: 500;
    color: var(--ColorDescripcion);
}
.contenedor-lista-empleados 
.cardview-lista-empleados
.cardview-body
.body-table {
    
}
.contenedor-lista-empleados 
.cardview-lista-empleados
.cardview-body
.body-table
.contenedor-element-table {
    width: 100%;
    min-width: 710px;
    height: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 24px;
    border-bottom: var(--Border) solid var(--ColorFondo);
    transition: all .3s;
}
.contenedor-lista-empleados 
.cardview-lista-empleados
.cardview-body
.body-table
.contenedor-element-table:hover {
    background-color: var(--ColorFondo);
    cursor: pointer;
}


.contenedor-lista-empleados 
.cardview-lista-empleados
.cardview-body
.body-table
.contenedor-element-table
div {
    display: flex;
    align-items: center;
    font-size:calc(var(--SizeDescripcion) + 2px);
    font-weight: 400;
    color: var(--ColorDescripcion);
    max-width: 150px;
    overflow: hidden;

}