<section class="contenedor-lista-empleados">
    <div class="cardview-lista-empleados">
        <div class="cardview-header">
            <button>+ AÑADIR EMPLEADO</button>
        </div>
        <div class="cardview-body">
            <div class="header-table">
                <div>Nombre</div>
                <div>Correo electronico</div>
                <div>Número de telefono</div>
                <div>Rol</div>
            </div>
            <div class="body-table">
                <div class="contenedor-element-table">
                    <div>Juan</div>
                    <div>juan@gmail.com</div>
                    <div>__</div>
                    <div>Propietario</div>
                </div>
                <div class="contenedor-element-table">
                    <div>Pedro</div>
                    <div>Pedro@gmail.com</div>
                    <div>6688561055</div>
                    <div>Cajero</div>
                </div>
                
            </div>
        </div>
        <div class="cardview-footer">

        </div>
    </div>
</section>
