<section class="contenedor-lista-empleados">
    <div class="cardview-lista-empleados">
        <div class="cardview-header">
            <button (click)="irComponenteAgregarEmpleado()">+ AÑADIR EMPLEADO</button>
        </div>
        <div class="cardview-body">
            <div class="header-table">
                <div>Nombre</div>
                <div>Correo electronico</div>
                <div>Número de telefono</div>
                <div>Rol</div>
            </div>
            <div class="body-table">
                <div class="contenedor-element-table" *ngFor="let empleado of empleados">
                    <div>{{ empleado.nombre }}</div>
                    <div>{{ empleado.correo }}</div>
                    <div>{{ empleado.telefono }}</div>
                    <div>{{ empleado.rol }}</div>
                </div>
            </div>
        </div>
        <div class="cardview-footer">

        </div>
    </div>
</section>
