<section class="contenedor-lista-empleados">
    <div class="cardview-lista-empleados">
        <div class="cardview-header">
            <button>+ Añadir empleado</button>
        </div>
        <div class="cardview-body">
            <div class="header-table">
                <div>Nombre</div>
                <div>Correo electronico</div>
                <div>Número de telefono</div>
                <div>Rol</div>
            </div>
            <div class="body-table">
                
            </div>
        </div>
        <div class="cardview-footer">

        </div>
    </div>
</section>
