<section class="contenedor-componente">
    <div class="cardview" >

         <!--SOLO SE MUESTRA CUANDO NO HAY CLIENTES REGISTRADOS-->
         <div class="cardview-content" *ngIf="!historialDisponibles">
            <div class="contenedor-img">
                <img src="https://r.loyverse.com/dashboard/images/clock-72pxfb893ac3f94621f44a16.svg" alt="">
            </div>
            <h1>No hay datos disponibles</h1>
            <p>No hay movimientos de stock en el período de tiempo seleccionado.</p>
      
        </div>
        <div class="cardview-body"  *ngIf="historialDisponibles">
            <div class="header-table">
                <div>Fecha</div>
                <div>Articulo</div>
                <div>Empleado</div>
                <div>Motivo</div>
                <div>Ajuste</div>
                <div>Stock final</div>
            </div>
            <div class="body-table">
                <div class="contenedor-element-table" *ngFor="let historial of historialInventario" >
                    <div> {{historial.fecha_hora}} </div>
                    <div> {{historial.nombre}} </div>
                    <div> {{historial.nombre_empleado}} </div>
                    <div> 
                        <p> {{historial.nombre_motivo }} </p> 
                        <a style="color: var(--ColorSecundario);" *ngIf="historial.nombre_motivo == 'recibido'" (click)="irDetalleOrdenDeCompra(historial.referencia_id)"> #P010{{historial.referencia_id}}</a> 
                        <a style="color: var(--ColorSecundario);" *ngIf="historial.nombre_motivo == 'vendido'" (click)="irTicket(historial.referencia_id ,'all')"> 1-100{{historial.referencia_id}}</a> 
                        
                    </div>
                    <div> {{historial.ajuste}} </div>
                    <div> {{historial.stock_final}} </div>
                </div>
            </div>
        </div>
    </div>
</section>
