<section class="contenedor-componente">
    <div class="cardview" >

        <!--SOLO SE MUESTRA CUANDO NO HAY CLIENTES REGISTRADOS-->
        <div class="cardview-content" *ngIf="false">
            <div class="contenedor-img">
                <img src="https://r.loyverse.com/dashboard/images/ic_group_black-24b702f664cad56268f631.svg" alt="">
            </div>
            <h1>Clientes</h1>
            <p>Aquí puedes administrar tus clientes.</p>
            <button class="l-btn-d">+ AGREGAR CLIENTE</button>
        </div>

        <div class="cardview-header">
            <button class="l-btn-d" (click)="irAgregarCliente()">+ AGREGAR CLIENTE</button>
        </div>

        <div class="cardview-body">
            <div class="header-table">
                <div>Cliente</div>
                <div>Contactos</div>
                <div>Primera visita</div>
                <div>Ultima visita</div>
                <div>Total de visitas</div>
                <div>Gasto total</div>
            </div>
            <div class="body-table">
                <div class="contenedor-element-table" *ngFor="let cliente of clientes">
                    <div>{{cliente.nombre}}</div>
                    <div>{{cliente.telefono}} {{cliente.correo}} </div>
                    <div> {{cliente.primera_visita}} </div>
                    <div> {{cliente.ultima_visita}} </div>
                    <div> {{cliente.visitas}} </div>
                    <div> ${{cliente.gasto_total}} </div>
                </div>
            </div>
        </div>
    </div>
</section>
