<section class="contenedor-componente">
    <div class="cardview">
        <div class="navbar">
            <div class="contenedor-left">
                <button (click)="irComponenteListarClientes()"class="l-btn-outline" type="button"><img src="https://r.loyverse.com/dashboard/images/ic_chevron_left4f7cbec42fccfe6a0b71.svg" width="20px" height="20px" alt=""> BASE DE CLIENTES</button>
            </div>
            <div class="contenedor-right">
                <button class="l-btn-outline" type="button">EDITAR PERFIL</button>
                <button class="l-btn-outline" type="button">MÁS <img src="https://r.loyverse.com/dashboard/images/ic_arrow_drop_downfc93d66bee92da4aedf6.svg" width="20px" height="20px" alt=""></button>
            </div>
        </div>

        <div class="cardview-header">
            <img src="../../assets/dashboard-empleado-icon-perfil.svg" width="85px" height="85px" alt="">
            <h1>{{cliente?.nombre}} </h1>
            <div><img src="https://r.loyverse.com/dashboard/images/ic_mail_black_24px925ee95c65a866bb33ac.svg" width="24px" height="24px" alt=""> {{cliente?.correo}}</div>
            <div><img src="https://r.loyverse.com/dashboard/images/ic_local_phone3a6c63cd7ea86e8891af.svg" width="24px" height="24px" alt=""> {{cliente?.telefono}}</div>
            <div><img src="https://r.loyverse.com/dashboard/images/ic_location_on_black_24pxab4789b2bb636e18220c.svg" width="24px" height="24px" alt=""> {{cliente?.direccion}} , {{cliente?.ciudad}}, {{cliente?.estado}} , {{cliente?.codigo_postal}} </div>
        </div>

        <div class="cardview-body">
            <article>
                <img src="https://r.loyverse.com/dashboard/images/calendar-checkd48cc31df87cb10bb74a.svg" width="24px" height="24px"  alt="">
                <div>
                    <p> {{cliente?.primera_visita == null ? "__" : cliente?.primera_visita}} </p>
                    <p>Primera visita</p>
                </div>
            </article>

            <article>
                <img src="https://r.loyverse.com/dashboard/images/ic_date_range_24px7c85711769f4aba54e99.svg" width="24px" height="24px" alt="">
                <div>
                    <p> {{cliente?.ultima_visita == null ? "__" : cliente?.ultima_visita}} </p>
                    <p>Última visita</p>
                </div>
            </article>

            <article>
                <img src="https://r.loyverse.com/dashboard/images/ic_shopping_basket_black_24px1830b449e7e09deaf1d6.svg" width="24px" height="24px" alt="">
                <div>
                    <p> {{cliente?.visitas == null ? "_" : cliente?.visitas}} </p>
                    <p>Visitas</p>
                </div>
            </article>

            <article>
                <img src="https://r.loyverse.com/dashboard/images/ic_attach_money_black_24px5aed7e64f0908d855c47.svg" width="24px" height="24px" alt="">
                <div>
                    <p> ${{cliente?.gasto_total == null ? "_" : cliente?.gasto_total}} </p>
                    <p>Gasto total</p>
                </div>
            </article>
        </div>
    </div>
</section>
