<section class="app-dashboard">
    <nav>
        <div class="contenedor-btn-menu">
            <button class="btn-menu">
                <img class="img-menu" src="../../assets/menu.svg" alt="">
            </button>
        </div>
        
        <h1>Resumen de ventas</h1>
    </nav>

    <aside>
        <div class="item-profile">
            <div>
                <img src="https://r.loyverse.com/dashboard/images/ic_account_circle_black1b1c7b5e68cdc7130c56.svg" alt="">
            </div>
            
        </div>
        <div class="menu-item" title="Informes">
            <div>
                <img src="https://r.loyverse.com/dashboard/images/ic_reportsa54b269abfd191558e00.svg" alt="">
            </div>
        </div>
        <div class="menu-item" title="Articulos">
            <div>
                <img src="https://r.loyverse.com/dashboard/images/ic_shopping74448c605b685d6ecfd7.svg" alt="">
            </div>
        </div>
        <div class="menu-item" title="Administración de inventario">
            <div>
                <img src="https://r.loyverse.com/dashboard/images/inventory-LB600dbf623f9e136bcafcf03.svg" alt="">
            </div>
        </div>
        <div class="menu-item" title="Empleados">
            <div>
                <img src="https://r.loyverse.com/dashboard/images/employees-newc7f52bb27f1fde48d88d.svg" alt="">
            </div>
        </div>
        <div class="menu-item" title="Clientes">
            <div>
                <img src="https://r.loyverse.com/dashboard/images/ic_group21af37682ac81510ce23.svg" alt="">
            </div>
        </div>
    </aside>
    <router-outlet></router-outlet>
    
    
</section>