.app-dashboard {
    width: 100%;
    height: 100%;
}

/*ESTILOS PARA NAV BAR */
.app-dashboard nav {
    height: 48px;
    width: 100%;
    background-color: var(--ColorSecundario);
    box-shadow: 0 1px 5px rgb(0 0 0 / 40%);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.app-dashboard nav .contenedor-btn-menu {
    width: 72px;
    height: 48px;
    display: flex;
   align-items: center;
   justify-content: center;
}
.app-dashboard nav .btn-menu {
    width: 48px;
    height: 48px;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    border-radius: 50%;
}
.app-dashboard nav .btn-menu:active {
    background-color: rgb(206,206,206);
    transform: scale(1.1);
}
.app-dashboard nav .btn-menu .img-menu {
    width: 24px;
    height: 24px;
    filter: var(--ColorImgSvg);
}

.app-dashboard nav h1 {
    font-size:calc(var(--SizeTitulo) + 2px);
    color: var(--ColorPrincipal);
    font-weight: 400;
}
/*FIN ESTILOS PARA NAV BAR */

/*ESTILOS PARA ASIDE FLOTANE TOP|LEFT */
.app-dashboard aside {
    width: 72px;
    height: 100%;
    background-color: var(--ColorPrincipal);
    position: fixed;
    top: 48px;
    left: 0;
}
.app-dashboard aside .item-profile {
    height: 64px;
    width: 72px;
    border-bottom: var(--Border) solid var(--ColorFondo);
}
.app-dashboard aside .menu-item {
    width: 72px;
    height: 56px;
    border: 0;
    border-left:calc(var(--Border) * 2) solid transparent;
    transition: all .3s;
    position: relative;
}
.app-dashboard aside .menu-item:hover {
    background-color: var(--ColorFondo);
    cursor: pointer;
}

.app-dashboard aside .menu-item div ,
.app-dashboard aside .item-profile div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.app-dashboard aside .menu-item div img {
    width: 24px;
    height: 24px;
}
.app-dashboard aside .item-profile div img {
    width: 36px;
    height: 36px;
}

/*ESTILOS PARA CARDVIEW CON ENLASES A OTRO COMPONENTE (ROUTER LINK)*/
.app-dashboard aside .menu-item .contenedor-enlases {
    width: 224px;
    height: auto;
    background-color: red;
    position: absolute;
    top: 0;
    left: 69px;
    background-color: var(--ColorPrincipal);
    display: flex;
    flex-direction: column;
    border-radius: var(--BorderRadius);
    padding:5px 0;
    box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
    opacity: 0;
    pointer-events: none;
   
}
.app-dashboard aside .menu-item .contenedor-enlases a {
    text-decoration: none;
    color: #000000de;
    font-size:calc(var(--SizeDescripcion) + 2px);
    padding: 0 16px;
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
   
}
.app-dashboard aside .menu-item .contenedor-enlases a:hover {
    background-color: var(--ColorFondo);
}

/*CLASS ENCARGADA DE DETECTAR ROUTERLINKACTIVE */
.app-dashboard aside .menu-item.dashboard-menu-active {
    background-color: var(--ColorFondo);
}

/*MENU ITEM REPORT COLOR BORDER */
.app-dashboard aside .menu-item.border-color-informes {
    border-left-color: #4CAF50;
}
/*COLOR PARA ENLASES EN MENI-ITEM INFORME */
.app-dashboard aside .menu-item .contenedor-enlases a.color-informes {
    color: var(--ColorSecundario);
}

/*MENU ITEM REPORT COLOR BORDER */
.app-dashboard aside .menu-item.border-color-articulos {
    border-left-color: #4CAF50;
}
/*FIN ESTILOS PARA ASIDE FLOTANE TOP|LEFT */