<section class="app-dashboard">
    <nav>
        <div class="contenedor-btn-menu">
            <button class="btn-menu" (click)="abrirMenu()">
                <img class="img-menu" src="../../assets/menu.svg" alt="">
            </button>
        </div>
        
        <h1>{{tituloComponente}}</h1>
    </nav>

    <aside (click)="espandirItemMenu($event)" [ngClass]="{'espandible-menu': menuDesplegado}">
        <div class="item-profile">
            <div class="contenedor-img">
                <img src="https://r.loyverse.com/dashboard/images/ic_account_circle_black1b1c7b5e68cdc7130c56.svg" alt="">
            </div>
            <div *ngIf="menuDesplegado" class="contenedor-perfil">
                <p> {{rol}} </p>
                <p> {{correo}} </p>
            </div>

            <div class="cardview-float-perfil">
                <a >Cuenta</a>
                <a (click)="cerrarSecion()">Cerrar sesión</a>
            </div>
        </div>
        <div class="menu-item">
            <div class="contenedor-enlases" routerLinkActive="menu-item-active" [routerLinkActiveOptions]="{exact:true}">
                <a routerLinkActive="active-link" routerLink="/dashboard/report/sales">Resumen de ventas</a>
                <a routerLink="">Ventas por articulo</a>
                <a routerLink="">Ventas por categoria</a>
                <a routerLink="">Ventas por empleado</a>
                <a routerLink="">Recibos</a>
            </div>
            <div id="eventClick" title="Informes">
                <img src="https://r.loyverse.com/dashboard/images/ic_reportsa54b269abfd191558e00.svg" alt="">
                <h1 *ngIf="menuDesplegado">Informes</h1>
            </div>
            
        </div>
        <div class="menu-item">
            <div class="contenedor-enlases" routerLinkActive="menu-item-active" [routerLinkActiveOptions]="{exact:true}">
                <a routerLinkActive="active-link" routerLink="/dashboard/goods/price">Lista de articulos</a>
                <a routerLinkActive="active-link" routerLink="/dashboard/goods/categories">Categorias</a>
            </div>
            <div id="eventClick" title="Articulos">
                <img src="https://r.loyverse.com/dashboard/images/ic_shopping74448c605b685d6ecfd7.svg" alt="">
                <h1 *ngIf="menuDesplegado">Articulos</h1>
            </div>
            
        </div>
        <div class="menu-item">
            <div class="contenedor-enlases" routerLinkActive="menu-item-active" [routerLinkActiveOptions]="{exact:true}">
                <a routerLinkActive="active-link" routerLink="/dashboard/inventory/purchase">Órdenes de compra</a>
                <a routerLinkActive="active-link" routerLink="/dashboard/inventory/adjustment">Ajustes de stock</a>
                <a routerLinkActive="active-link" routerLink="/dashboard/inventory/supplierlist">Proveedores</a>
                <a routerLinkActive="active-link" routerLink="/dashboard/inventory/history">Historial de inventario</a>

            </div>
            <div id="eventClick" title="Administración de inventario">
                <img src="https://r.loyverse.com/dashboard/images/inventory-LB600dbf623f9e136bcafcf03.svg" alt="">
                <h1 *ngIf="menuDesplegado">Administración de inventario</h1>
            </div>
        </div>
        <div class="menu-item">
            <div class="contenedor-enlases" routerLinkActive="menu-item-active" [routerLinkActiveOptions]="{exact:true}">
                <a routerLinkActive="active-link" routerLink="/dashboard/employees/list">Lista de empleados</a>
                
            </div>
            <div id="eventClick" title="Empleados">
                <img src="https://r.loyverse.com/dashboard/images/employees-newc7f52bb27f1fde48d88d.svg" alt="">
                <h1 *ngIf="menuDesplegado">Empleados</h1>
            </div>
        </div>
        <div class="menu-item">
            <div class="contenedor-enlases" routerLinkActive="menu-item-active" [routerLinkActiveOptions]="{exact:true}">
                <a routerLinkActive="active-link" routerLink="/dashboard/clients/database">Lista de clientes</a>
            </div>
            <div id="eventClick" title="Clientes">
                <img src="https://r.loyverse.com/dashboard/images/ic_group21af37682ac81510ce23.svg" alt="">
                <h1 *ngIf="menuDesplegado">Clientes</h1>
            </div>
        </div>
        <div class="menu-item">
            <div class="contenedor-enlases" routerLinkActive="menu-item-active" [routerLinkActiveOptions]="{exact:true}">
                <a routerLinkActive="active-link" routerLink="/dashboard/clients/database">Realizar venta</a>
            </div>
            <div id="eventClick" title="Ventas">
                <img src="../../assets/dashboard-ventas-icon.svg" alt="">
                <h1 *ngIf="menuDesplegado">Ventas</h1>
            </div>
        </div>
        
    </aside>
    <router-outlet></router-outlet>
    
    
</section>