.contenedor-componente .cardview {
max-width: 468px;
        padding: 24px;
}

.contenedor-componente .cardview .cardview-header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-componente .cardview .cardview-header img {
    filter: invert(40%) sepia(31%) saturate(2399%) hue-rotate(139deg) brightness(95%) contrast(101%);
}


