/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root{
  /*COLOR PRINCIPAL rgb(75, 175, 79)*/
  --ColorPrincipal: rgb(255, 255, 255);
  
  --ColorSecundario:rgb(23, 101, 190) ;
  --ColorFondo:rgb(242, 242, 242);
  
  --ColorExtra:rgb(29, 29, 29);

  --ColorDanger:#FF4A56;

  /*COLOR WHITE PARA FILTER EN UNA IMAGEN SVG*/
  --ColorImgSvg:invert(100%) sepia(0%) saturate(7491%) hue-rotate(217deg) brightness(106%) contrast(101%);

  

  --ColorTitulo:rgb(33, 33, 33);
  --ColorDescripcion: #827582;
  /*rgb(206,206.206);*/

  --ColorTextoPrincipal:#666666;
  --ColorTextoSecundario:#5A5A5A;

  --Padding:10px;
  --Margin:10px;
  --SpaseLetter:0.5px;
  /*--Border: 1.5px;*/
  --Border:1.5px;
  --BorderRadius: 3px;

  --SizeTitulo:1.13rem;
  --SizeDescripcion:0.75rem;

  --FontSize:16px;


}


*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  font-size:var(--FontSize);
  scroll-behavior: smooth;
}
body{
  font-family: "Roboto" ,sans-serif;
  background-color: var(--ColorFondo);
}

/*ESTILOS GENERALES PARA COMPONENTES HIJOS DENTRO DEL DASHBOARD*/
.contenedor-componente {
  width:calc(100% - 0px);
    height:calc(100% - 48px);
    padding: 24px 24px 15px 96px;
    overflow: auto;
}
.contenedor-componente .cardview {
  max-width: 810px;
  background-color: var(--ColorPrincipal);
  box-shadow: 0 2px 5px rgb(0 0 0 / 15%);
  border-radius: var(--BorderRadius);
  animation: opacity 1s;
}

@keyframes opacity {
  from {
    opacity: 0;
    width: 0%;
  }
  to{
    opacity: 1;
    width: 100%;
  }
}

.contenedor-componente .cardview .cardview-body {
  position: relative;
  width: 100%;
  overflow-x: auto;
  padding: 20px 0 0 0;
}

.contenedor-componente .cardview .cardview-header {
  height: 66px;
  padding: 0 24px;
  display: flex;
  align-items:flex-end;
}

/*FIN ESTILOS GENERALES PARA COMPONENTES HIJOS DENTRO DEL DASHBOARD*/

/*------------------------------------------------------------------*/

/*ESTILOS G. PARA BOTONES */

/*---BUTTON DEFAULT---*/
.l-btn-outline {
  font-size: calc(var(--SizeDescripcion) + 2px);
    font-family: "Roboto" ,sans-serif;
    font-weight: 450;
    padding: 0 16px;
    height: 36px;
    border-radius: var(--BorderRadius);
    background-color: transparent;
    transition: .3s all;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.l-btn-outline:hover {
  cursor: pointer;
  background-color: #FAFAFA;
}
.l-btn-d {
    font-size: calc(var(--SizeDescripcion) + 2px);
    font-family: "Roboto" ,sans-serif;
    color: var(--ColorPrincipal);
    font-weight: 550;
    padding: 0 16px;
    height: 36px;
    border-radius: var(--BorderRadius);
    background-color: var(--ColorSecundario);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    transition: .3s all;
    min-width: 173px;
}
.l-btn-d:hover {
    cursor: pointer;
    opacity: .7;
}

/*---FIN BUTTON DEFAULT---*/


/*FIN ESTILOS G. PARA BOTONES */ 


/*ESTILOS G PARA TABLAS DENTRO DEL SISTEMA */
.header-table {
      width: 100%;
      min-width: 710px;
      height: 55px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      border-bottom: var(--Border) solid var(--ColorFondo);
      padding: 0 24px;
}

.header-table div {
  display: flex;
    align-items: center;
    font-size:calc(var(--SizeDescripcion) + 2px);
    font-weight: 500;
    color: var(--ColorDescripcion);
}

.body-table {

}
.body-table .contenedor-element-table {
  width: 100%;
  min-width: 710px;
  height: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 24px;
  border-bottom: var(--Border) solid #eaeaea;
  transition: all .3s;
}

.body-table .contenedor-element-table:hover {
  background-color: #FAFAFA;
    cursor: pointer;
}

.body-table .contenedor-element-table div {
  display: flex;
    align-items: center;
    font-size:calc(var(--SizeDescripcion) + 2px);
    font-weight: 400;
    color: var(--ColorDescripcion);
    max-width: 150px;
    overflow: hidden;
}



/*ESTILOS G PARA TABLAS DENTRO DEL SISTEMA */

/*ESTILOS GENERALES PARA FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: var(--Padding); 
}

.form 
.contenedor-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  position: relative;
  padding-top: var(--Padding);
}

.form 
.contenedor-input
label:first-of-type {
  font-size: calc(var(--SizeDescripcion) + 2px);
  position: absolute;
  color: var(--ColorDescripcion);
  bottom:10px;
  left :53px;
  pointer-events:none;
  transition: all .3s;
}

.form 
.contenedor-input
label:last-of-type {
  font-size: calc(var(--SizeDescripcion) + 2px);
  position: absolute;
  color: var(--ColorDescripcion);
  bottom:10px;
  left :1px;
  pointer-events:none;
  transition: all .3s;
}
.form
.contenedor-input
input ,
.form
.contenedor-input
select {
  border: 0;
  padding: 7px 0;
  font-size: .9rem;
  border-bottom: var(--Border) solid var(--ColorDescripcion);
  transition: border .3s;
}
/*CLASS ENCARGADA DE DESHABILITAR INPUT*/
.deshabilitar-input {
  pointer-events: none;
  border: 0 !important;
  appearance: none;
}

.form
.contenedor-input
input::placeholder {
  color:rgb(206,206,206);
}

.form
.contenedor-input
input:focus ,
.form
.contenedor-input
select:focus {
  border-color: var(--ColorSecundario);
}

.form
.contenedor-input
input:focus + label:first-of-type ,
.form
.contenedor-input
select:focus + label:first-of-type ,
.form
.contenedor-input
input:focus ~ label:last-of-type ,
.form
.contenedor-input
select:focus ~ label:last-of-type {
  color: var(--ColorSecundario);
}

/*ANIMACION EN INPUT COMO ANDROID MATERIAL */

.form
.contenedor-input
input:not(:placeholder-shown){
  color:black;
}
.form
.contenedor-input
input:not(:placeholder-shown) + label:first-of-type{
  bottom:30px;
  left :0px;
  transform:scale(1);
  
}

.form
.contenedor-input
input:not(:placeholder-shown) ~ label:last-of-type{
  bottom:-11px;
  opacity:0;
}
/*ANIMACION EN INPUT COMO ANDROID MATERIAL */


/*DISEÑO A SELECT,OPTION */
.form 
.contenedor-input
select {
  cursor: pointer;
  /*appearance: none;*/
}

.form
.contenedor-input
select + label {
  top: 0;
  left: 0;
}

.form 
.contenedor-input
select
option {
  background-color: var(--ColorPrincipal);
  border-radius: 20px;
  font-size: var(--SizeTitulo);
}
/*FIN DISEÑO A SELECT,OPTION */

.form
.contenedor-input
.smsError {
  position: absolute;
  color: var(--ColorDanger);
  font-size: var(--SizeDescripcion);
  bottom: -15px;
}

.form
.contenedor-botones {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--Padding);
}
.form
.contenedor-botones
button {
  font-size: calc(var(--SizeDescripcion) + 2px);
  color: black;
  font-weight: 550;
  padding: 0 16px;
  height: 36px;
  border-radius: var(--BorderRadius);
  background-color: var(--ColorPrincipal);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
  transition: .3s all;
}
.form
.contenedor-botones
button:hover {
  cursor: pointer;
  opacity: .7;
}
.form
.contenedor-botones
button:last-child {
  background-color: var(--ColorSecundario);
  color: var(--ColorPrincipal);
}
.form
.contenedor-botones
button:last-child:disabled {
  pointer-events: none;
  opacity: .3;
}
/*ESTILOS GENERALES PARA FORM */

