/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root{
  /*COLOR PRINCIPAL rgb(75, 175, 79)*/
  --ColorPrincipal: rgb(255, 255, 255);
  
  --ColorSecundario:rgb(23, 101, 190) ;
  --ColorFondo:rgb(242, 242, 242);
  
  --ColorExtra:rgb(29, 29, 29);

  /*COLOR WHITE PARA FILTER EN UNA IMAGEN SVG*/
  --ColorImgSvg:invert(100%) sepia(0%) saturate(7491%) hue-rotate(217deg) brightness(106%) contrast(101%);

  

  --ColorTitulo:rgb(33, 33, 33);
  --ColorDescripcion: #827582;
  /*rgb(206,206.206);*/

  --ColorTextoPrincipal:#666666;
  --ColorTextoSecundario:#5A5A5A;

  --Padding:10px;
  --Margin:10px;
  --SpaseLetter:0.5px;
  /*--Border: 1.5px;*/
  --Border:1.5px;
  --BorderRadius: 3px;

  --SizeTitulo:1.13rem;
  --SizeDescripcion:0.75rem;

  --FontSize:16px;


}


*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  font-size:var(--FontSize);
  scroll-behavior: smooth;
}
body{
  font-family: "Roboto" ,sans-serif;
  background-color: var(--ColorFondo);
}
