<section class="app-registro">
    <div class="contenedor-registro">
        <form class="form-registro">
            <p class="logo">LOAL</p>
            <h1>Crea tu cuenta gratis de LOAL</h1>
            <div class="contenedor-input">
                <input type="text" placeholder="Ingrese correo electronico">
                <label for="">Correo</label>
            </div>
            <div class="contenedor-input">
                
                <input type="text" placeholder="Ingrese contraseña">
                <label for="">Contraseña</label>
            </div>
            <div class="contenedor-input">
                
                <input type="text" placeholder="Ingrese nombre de la empresa">
                <label for="">Empresa</label>
            </div>
            <button>REGISTRARSE</button>
            <div class="contenedor-enlase">
                <label for="">¿Ya tienes una cuenta? </label>
                <a routerLink="/login">INICIAR SESIÓN</a>
            </div>
        </form>
    </div>
</section>
